
.khaleel{
    background-image: url(pexels-photo-925743.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
   
}
.mohammed{
    background-image: url(mission-thumb-2.7a3ae623.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
/*  background-image: url(pexels-photo-925743.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover; */